h2 {
	border-bottom: 2px solid #000;
	position: relative;
}
h2::before {
	border-bottom: 2px solid #000;
	content: "";
	position: absolute;
	width: 100%;
	bottom: -15px;
}
h2::after {
	border-bottom: 2px solid #000;
	content: "";
	position: absolute;
	width: 100%;
	bottom: -19px;
	left: 0;
}