* {
	margin: 0;
}
h1 {
	font-size: 100px;
	background: linear-gradient(45deg,red,blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
img {
	display: block;
}
img:hover {
	filter: grayscale(100%);
	filter: blur(5px);
}